version: "3.9"

services:
  api_gateway:
    build: ./api_gateway
    ports:
      - "8000:8000"
    depends_on:
      - auth_service

  auth_service:
    build: ./auth_service
    ports:
      - "8001:8001"
